body {
  background: white;
  background-image: linear-gradient(to bottom, black, #555454, #b2b2b2, #ffffff);
}
.n{
  margin-bottom: auto;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  display: block; 
}
.p{
  color: azure;
  font-family: exo; 
}
.b{
  margin-bottom: auto;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  display: block; 
  font-size: 4vw;
}
button:active{
  transform: translateY(4px) translateX(5px);
  border: 3px solid azure;
}
p {
  color: black;
}
h1 {
  font-weight: bold;
}
.title{
  font-family: metal mania;
  font-size: 5vw;
  color: antiquewhite;
  border: 7px groove gray;
  text-align: center;
  text-shadow: 3px 3px 1px gray;
}
.denji{
  margin-bottom: auto;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.desc{
  font-family: orbitron;
  font-size: 4vw;
  color: #ffffff;
  padding: 10px;
  text-shadow: 3px 3px 1px #d60000;
}
body {
  background: white;
  background-image: linear-gradient(to bottom, black, #555454, #b2b2b2, #ffffff);
}
.n{
  margin-bottom: auto;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  display: block; 
}
.p{
  color: azure;
  font-family: exo; 
}
.b{
  margin-bottom: auto;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  display: block; 
  font-size: 4vw;
}
button:active{
  transform: translateY(4px) translateX(5px);
  border: 3px solid azure;
}
p {
  color: black;
}
h1 {
  font-weight: bold;
}
.title{
  font-family: metal mania;
  font-size: 5vw;
  color: antiquewhite;
  border: 7px groove gray;
  text-align: center;
  text-shadow: 3px 3px 1px gray;
}
.denji{
  margin-bottom: auto;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.desc{
  font-family: orbitron;
  font-size: 4vw;
  color: #ffffff;
  padding: 10px;
  text-shadow: 3px 3px 1px #d60000;
}